{% load custom_filters %}
<div class="ingredient-tab">
    {% for field in ingredient_form %}
        {% if field.name == 'ingredient' %}
            <div class="form-group ingredient-name">
                <label for="{{ field.field.widget.attrs.id }}">{{ field.label }}</label>
                {{ field }}
                <input type="text"
                        id="ingredient_name_{{ field.field.widget.attrs.id|extract_suffix}}"
                        data-toggle="modal"
                        data-item-id="{{ field.field.widget.attrs.id|extract_suffix}}"
                        hx-vals='{"field_id": "ingredient_name_{{ field.field.widget.attrs.id|extract_suffix}}"}'
                        hx-get="{% url 'cocktail-ingredient-search' %}"
                        hx-trigger="click"
                        hx-target="#modal-body-content">
                <!-- Render help text -->
                {% if field.help_text %}
                    <p class="helptext">{{ field.help_text }}</p>
                {% endif %}
                <!-- Render errors -->
                {% if field.errors %}
                    <div class="error-messages">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group ingredient-detail-item">
                <label for="{{ field.field.widget.attrs.id }}">{{ field.label }}</label>
                {{ field }}
                <!-- Render help text -->
                {% if field.help_text %}
                    <p class="helptext">{{ field.help_text }}</p>
                {% endif %}
                <!-- Render errors -->
                {% if field.errors %}
                    <div class="error-messages">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="remove-ingredient">
        <button 
            type="button"
            class=""
            hx-on:click="this.closest('div.ingredient-tab').remove()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <!-- Font Awesome Trash Icon -->
                <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
        </button>
    </div>
</div>
