<div class="ingredient-tab">
{% for field in ingredient_form %}
                {% if field.name == 'ingredient' %}
                    <div class="form-group ingredient-name">
                        {{ ingredient_form.ingredient.label_tag }}
                        <input 
                            type="text"
                            name="ingredient"
                            id="id_ingredient"
                            {% comment %} value="{{ ingredient_form.ingredient.value }}"  {% endcomment %}
                            class="form-control"
                            data-toggle="modal"
                            hx-get="{% url 'cocktail-ingredient-search' %}"
                            hx-trigger="click"
                            hx-target="#modal-body-content"
                            readonly
                            />
                        <p class="helptext">{{ ingredient_form.ingredient.help_text }}</p>
                        {% if ingredient_form.ingredient.errors %}
                            <div class="error-messages">
                                {{ ingredient_form.ingredient.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group ingredient-detail-item">
                        {{ field.label_tag }}
                        {{ field }}
                        <p class="helptext">{{ field.help_text }}</p>
                        {% if field.errors %}
                            <div class="error-messages">
                            {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
        {% endfor %}
        <div class="remove-ingredient">
            <button class="" 
                    type="button"
                    hx-on:click="this.closest('div.ingredient-tab').remove()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
            </button>
        </div>
</div>