{% load static %}

<div class="ingredient-search-comp">
    <!-- Search Bar at the Top -->
    <div class="form-group ingredient-search-header">
        <button class="modal-header__closeImg" data-dismiss="modal">
            <img src="{% static 'images/xmark-solid.svg'%}" alt="closeModal">
        </button>
        <h5>Add an ingredient</h5>
        <label for="searchCocktailIngredient" class="sr-only">Add an ingredient</label>
        <input id="searchCocktailIngredient" class="ingredient-search-input" type="text" name="searchCocktailIngredient" placeholder="Search..." data-popup="search">
    </div>

    <!-- Scrollable List of Ingredients -->
    <div class="select-ingredients-list">
        {% for ingredient in ingredients %}
                <button class="checkbox-container" 
                        data-ingredient-item-id="{{ ingredient.id }}" 
                        data-ingredient-item-name="{{ ingredient.name }}"
                        hx-on:click="populateIngredientField('{{ ingredient.name }}','{{ ingredient.id }}')">
                    <div class="checkbox-container__colOne">
                        <span class="cocktail-select-ingredient-name">{{ ingredient.name }}
                        </span>
                        <div class="cocktail-select-type-brand">
                            {% if ingredient.brand %}
                            <span class="cocktail-select-brand">{{ ingredient.brand}}</span>
                            <span> &#8226; </span>
                            {% endif %}
                            <span class="cocktail-select-type">{{ ingredient.get_ingredient_type_display }}</span>
                            {% if ingredient.abv %}
                            <span> &#8226; </span>
                            <span class="cocktail-select-ingredient-abv">{{ ingredient.abv }}%</span>
                            {% endif %}
                        </div>
                    </div>
                    <span class="item-select-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
                    </span>
                </button>
        {% endfor %}
    </div>
</div>

<script>

</script>

<style>
    .select-ingredients-list {
        overflow-y: auto;
        max-height: 60vh;
        min-height: 60vh;
        
    }
    .ingredient-search-header {
        display: flex;
        flex-direction: column;
        gap:.5rem;
    }
    .modal-header__closeImg {
        align-self: flex-end;
    }
    .checkbox-container{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        padding: 1rem;
        color: var(--primaryColorBlack);
        cursor: pointer;
    }
    .checkbox-container:hover {
        background-color: rgba(0,0,0,.025);
        border-radius: .25rem;
    }
    .checkbox-container input {
        margin-left: auto;
    }
    .cocktail-select-ingredient-abv {
        font-weight: 400;
        color: #6c757d;
        font-size: .875rem;
    }

    .cocktail-select-ingredient-name {
        font-weight: 500;
    }
    .checkbox-container__colOne {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: .5rem;
    }
    .cocktail-select-type-brand {
        color: #6c757d;
    }
    .cocktail-select-brand {
        font-style: italic;
        font-weight: 500;
        color: #6c757d;
        font-size: .875rem;
    }
    .cocktail-select-type {
        text-transform: capitalize;
        font-size: .875rem;
        color: #6c757d;
    }
    .select-ingredient-controls {
        margin-top: 1rem;
    }
    .item-select-icon svg {
        opacity: 0;
        width: .75rem;
        text-align: center;
        color:inherit;
        transition: opacity 75ms ease-in;
        }
    .checkbox-container:hover .item-select-icon > svg {
        opacity: 1;
    }

</style>