{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="ingredient-create">
    <button class="ingredient-create__submit button button-primary" form="ingredient-create__form" name="ingredientEditSubmitBtn" type="submit">Save</button>
    <div class="ingredient-create__header">
        <h1> {% if ingredient.id %}Update {% else %} Create new {% endif %}ingredient</h1>
    </div>
    <form method="post" id="ingredient-create__form" class="ingredient-create__form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error-messages">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-actions">
            {% if ingredient.id %} <button type="button" 
                                           name="ingredient-delete-btn" 
                                           class="ingredient-create__delete button button-danger"
                                           data-toggle="modal"
                                           hx-get="{% url 'confirm-ingredient-delete' ingredient.pk %}"
                                           hx-trigger="click"
                                           hx-target="#modal-body-content">Delete Ingredient</button>{% else %}{% endif %}
            <a class="button button-secondary" href="{% url 'ingredient-list' %}" type="button">Cancel</a>
        </div>
    </form>
</div>

<!-- Modal -->
{% include "../partials/modal.html" %}

<script>
    const deleteButton = document.querySelector('.ingredient-create__delete');
    const overlayIngredient = document.getElementById('overlay');
    const ingredientDialog = document.getElementById('favDialog');
    
    // Open modal for any element with [data-toggle="modal"]
    document.addEventListener('click', (event) => {
        if (event.target.hasAttribute('data-toggle') && event.target.getAttribute('data-toggle') === 'modal') {
            console.log("open")
            ingredientDialog.showModal(); // Open the <dialog> element
        }
    });
    // Close modal for any element with [data-dismiss="modal"]
    document.addEventListener('click', (event) => {
        if (event.target.hasAttribute('data-dismiss') && event.target.getAttribute('data-dismiss') === 'modal') {
            console.log("close")
            ingredientDialog.close(); // Close the <dialog> element
        }
    });
</script>
<style>

    .ingredient-create {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
    }

    .ingredient-create__submit {
        align-self: end;
    }

    .ingredient-create__header {
        margin-bottom: 1rem;
        text-align: center;
    }

    .ingredient-create__header > h1 {
        color: #333;
        font-size: 1.75rem;
        align-self: stretch;
        
    }
    
    .ingredient-create__form {
        display: grid;
        grid-template-columns: 1fr;
        gap: .25rem;
    }

    @media (min-width: 768px) {
        .ingredient-create__form {
            grid-template-columns: repeat(2, 1fr);
            gap: 0 2rem;
        }
        .form-group:has(textarea){
            grid-column: span 2;
        }
    }
</style>
{% endblock content %}