{% extends "base.html" %}

{% block content %}
<div class="content-wrapper ingredient-detail"> <!-- Adjust height based on navbar -->

    <!-- Ingredient name and brand centered with some margin -->
    <div class="ingredient-detail__header">
        <h3>{{ ingredient.name }}</h3>
        <h5>{{ ingredient.brand }}</h5>
    </div>
    {% if ingredient.instructions %}
    <!-- Instructions centered with larger width for readability -->
    <div class="ingredient-detail__instructions">
        <p>{{ ingredient.instructions }}</p>
    </div>
    {% endif %}
    <!-- TAGS -->
    <div class="self-center">
        <span class="tags">{{ ingredient.ingredient_type }}</span>
    </div>
    <!-- Advanced Info Toggle Switch -->
    <div class="self-center">
        <label for="showAdvanceIngrsToggle">Show advanced info?</label>
        <input type="checkbox" role="switch" id="showAdvanceIngrsToggle">
    </div>

    <!-- Advanced Info Table, hidden by default -->
    <div id="advancedIngrTable" class="self-center" style="display: none;">
        <table class="table table-hover w-75 mx-auto">
            <tbody>
                <tr>
                    <td>ABV</td>
                    <td>{{ ingredient.abv }}</td>
                </tr>
                <tr>
                    <td>Sweetness</td>
                    <td>{{ ingredient.sweetness }}</td>
                </tr>
                <tr>
                    <td>Acid</td>
                    <td>{{ ingredient.acid }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Back button centered and stretched to fit smaller screens -->
    <div class="self-center">
        <a href="{% url 'ingredient-list' %}" class="button button-secondary">Back to List</a>
        <a class="ingredient-detail__update button-outline button-secondary" href="{% url 'ingredient-edit' pk=ingredient.id %}">Update Ingredient</a>
    </div>
</div>

<script>
    // Toggle visibility of advanced info table
    const advancedToggle = document.getElementById('showAdvanceIngrsToggle');
    const ingredientTable = document.getElementById('advancedIngrTable');

    advancedToggle.addEventListener('change', function() {
        ingredientTable.style.display = advancedToggle.checked ? 'block' : 'none';
    });
</script>
<style>
    .ingredient-detail__update {
        align-self: flex-end;
    }
    .ingredient-detail__header,
    .ingredient-detail__instructions {
        text-align: center;
       
    }
    .ingredient-detail__header h3 {
        margin-bottom: .25rem;
    }
    .ingredient-detail__header h5 {
        color: #6c757d;
        font-size: .875rem;
    }

    #advancedIngrTable table {
        max-width: 75%;
        border-collapse: collapse;
    }
    #advancedIngrTable table td {
        padding: .75rem;
        border-top: 1px solid #dee2e6;
    }
    .self-center {
        align-self: center;
    }
</style>
{% endblock content %}

