{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
<div class="content-wrapper ingredient-detail"> <!-- Adjust height based on navbar -->
    <!-- Edit button aligned to the right of the container -->
    

    <!-- Ingredient name and brand centered with some margin -->
    <div class="ingredient-detail__header">
        <h3>{{ cocktail.name }}</h3>
        <h6 class="ital">{% if cocktail.creator %}{{ cocktail.creator }}{% else %}Unknown{% endif %}</h6>
    </div>
    {% if cocktail_ingredients %}
    <div class="cocktail-detail-recipe">
        {% for ingredient in cocktail_ingredients %}
        <div class="cocktail-detail-recipe__ingredient">
            <span class="cocktail-detail-recipe__amount">{{ ingredient.quantity|format_number }}<span>&nbsp;{{ ingredient.unit }}</span></span>
            <span class="cocktail-detail-recipe__item">{{ ingredient.ingredient }}{% if ingredient.brand == "Homemade" %}{% else %}, <span class="ital">{{ ingredient.brand }}</span>{% endif %}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Instructions centered with larger width for readability -->
    <div class="ingredient-detail__instructions">
        <p>{{ cocktail.instructions }}</p>
    </div>
    <div class="cocktail-details__tags">
        <a class="tags" href="#">{{ cocktail.type }}</a>
        <a class="tags" href="#">{{ cocktail.style }}</a>
    </div>

    <!-- Back button centered and stretched to fit smaller screens -->
    <div class="form-actions">
        <a href="{% url 'cocktail-list' %}" class="button button-secondary">Back to List</a>
        <a class="ingredient-detail__update button-outline button-secondary" href="{% url 'cocktail-tabbed' %}">Update Cocktail</a>
    </div>
</div>

<style>

    .ingredient-detail__update {
        align-self: flex-end;
    }
    .ingredient-detail__header,
    .ingredient-detail__instructions {
        text-align: center;
        align-self: center;
        max-width: 64ch;
    }
    .ingredient-detail__header h3 {
        margin-bottom: .25rem;
    }
    .ingredient-detail__header h6 {
        color: #6c757d;
    }

    #advancedIngrTable table {
        max-width: 75%;
        border-collapse: collapse;
    }
    #advancedIngrTable table td {
        padding: .75rem;
        border-top: 1px solid #dee2e6;
    }
    .cocktail-detail-recipe {
        align-self: center;
    }
    
    .cocktail-detail-recipe__ingredient {
        display: grid; /* Use grid for precise column alignment */
        grid-template-columns: minmax(3rem, auto) 1fr; /* Ensures dynamic yet consistent widths for amount and unit */
        column-gap: .5rem;
        align-items: center; /* Aligns content vertically */
        line-height: 1.6;
    }
    
    .cocktail-detail-recipe__amount {
        text-align: right; /* Aligns the amount to the right for neatness */
        white-space: nowrap; /* Prevents wrapping between amount and unit */
    }
    
    .cocktail-detail-recipe__item {
        text-align: left; /* Left-align ingredient names */
        white-space: nowrap; /* Prevents wrapping of ingredient names */
    }

    .ital {
        font-style: italic;
    }
    .cocktail-details__tags {
        align-self: center;
        padding: .25rem;
    }
</style>
{% endblock content %}

