{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h2>Step 1 of 4 - Basic Details</h2>
    <form class="form-container" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% for field in wizard.form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="error-messages">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-actions">
            <a href="{% url 'cocktail-list' %}" class="button button-secondary">Cancel</a>
            <button class="button button-primary" type="submit">Select Ingredients</button>
        </div>
    </form>
</div>

<style>

</style>

{% endblock content %}